---
title: BSG - Tropical Hardwood Lumber
---

<div id="banner2" class="text-center">
      <div class="container-fluid">  
        <div class="row" id="white-banner2">
          <div class="col-md-12">
            <h2>Production : Quality Lumber</h2>
            <p> Sizes, Length, quality of machining : a world class result </p>
            <div class="row">
      <div class="col-md-2">
        <h3> Our products</h3>
        <ul>
          <li>Beams</li>
          <li>Plancks</li>
          <li>Planche</li>
          <li>Liteau</li>
          <li>Poutre</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h3>Our quality</h3>
        <p>Our technology allows us to sort the quality of our lumber is the best way, fitting perfectly every uses.</p>
        <p>Tropical hardwood lumber are made of heterogene material, our goal is to take the best of every logs.</p>
      </div>

      <div class="col-md-6">
        <h3> Our sizes</h3>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>Metric</h4>
                <p>27 x ( 55 | 105 | 155 | 205 | 255 ) </p>
                <p>55 x ( 55 | 85 | 105 | 155 ) </p>
                <p>65 x (85 | 105 ) </p>
                <p>80 x ( 125 )</p>
                <p>155 x ( 155 )</p>
                <p>and much more</p>
            </div>
            <div class="col-md-5">
                <h4>Imperial</h4>
                <p>1 x 3 | 10</p>
                <p>2 x 2 | 3 | 4 | 6 etc</p>
                <p>3 x 3</p>
                <p>4 x 4</p>
                <p>Ask for detailes list</p>
            </div>
            <div class="col-md-1"></div>
        </div>
      </div>
    </div>
          </div>
        </div>
        
      </div>   
</div> 




<div class="full-fenetre bck-white" id="produit">
  <div class="container-fluid"> 
    <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">  
            <h4>Transformed products</h4>
             <p>Transforming hardwood lumber into final products</p>
          </div>
         
          <div class="col-md-1"></div>
    </div> 
    <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <%= image_tag 'logo_sechage.png' %>
      <h4>Drying</h4>
      <p>Drying wood is a science and it's essential for the <strong>durability</strong>,drying could be <strong>natural</strong> or KD, we can adapt to all your needs</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'logo_traitement.png' %>
      <h4>Treatment</h4>
      <p>Wood as <strong>Angélique</strong> or even Wacapou have unical technical caracteristics which allow them to resist <strong>naturally</strong> in every kind of environment without treatment. For more specific application we can treat lumber in consequences.</p>
    </div>
    <div class="col-md-3">
      <%= image_tag 'logo_plancher.png' %>
      <h4>S4S</h4>
      <p>Depending your <strong>needs</strong>, we can supply all types of final products : Decking, flooring, cladding ...</p>
    </div>
    <div class="col-md-1"></div>
    </div>
  </div>
</div>

 <div class="row" id="reference">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">  
            <h4>References</h4>
             
          </div>
         
          <div class="col-md-1"></div>
</div> 

<div id="links text-center">
    <a href="images/big_1.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_1.png" alt="Banana">
    </a>
    <a href="images/big_2.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_2.png" alt="Apple">
    </a>
    <a href="images/big_3.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_3.png" alt="Orange">        
    </a>
    <a href="images/big_4.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_4.png" alt="Orange">        
    </a>
    <a href="images/big_5.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_5.png" alt="Orange">        
    </a>
    <a href="images/big_1.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_1.png" alt="Banana">
    </a>
    <a href="images/big_2.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_2.png" alt="Apple">
    </a>
    <a href="images/big_3.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_3.png" alt="Orange">        
    </a>
    <a href="images/big_4.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_4.png" alt="Orange">        
    </a>
    <a href="images/big_5.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_5.png" alt="Orange">        
    </a>
    <a href="images/big_1.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_1.png" alt="Banana">
    </a>
    <a href="images/big_2.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_2.png" alt="Apple">
    </a>
    <a href="images/big_3.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_3.png" alt="Orange">        
    </a>
    <a href="images/big_4.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_4.png" alt="Orange">        
    </a>
    <a href="images/big_5.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_5.png" alt="Orange">        
    </a>
    <a href="images/big_1.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_1.png" alt="Banana">
    </a>
    <a href="images/big_2.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_2.png" alt="Apple">
    </a>
    <a href="images/big_3.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_3.png" alt="Orange">        
    </a>
    <a href="images/big_4.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_4.png" alt="Orange">        
    </a>
    <a href="images/big_5.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_5.png" alt="Orange">        
    </a>
    <a href="images/big_1.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_1.png" alt="Banana">
    </a>
    <a href="images/big_2.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_2.png" alt="Apple">
    </a>
    <a href="images/big_3.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_3.png" alt="Orange">        
    </a>
    <a href="images/big_4.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_4.png" alt="Orange">        
    </a>
    <a href="images/big_5.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_5.png" alt="Orange">        
    </a>
    <a href="images/big_1.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_1.png" alt="Banana">
    </a>
    <a href="images/big_2.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_2.png" alt="Apple">
    </a>
    <a href="images/big_3.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_3.png" alt="Orange">        
    </a>
    <a href="images/big_4.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_4.png" alt="Orange">        
    </a>
    <a href="images/big_5.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_5.png" alt="Orange">        
    </a>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>


