// Your footer style
#footer{
	
	
	color:$blue;
	
    position : fixed;
    bottom : 0;
    width: 100%;
   
    background-color: #f5f5f5;
    padding-top : 1px;
    
    padding-bottom : 1px;

   
}

.place{
    height : 20px;
}