#banner{
    
    text-align: center;
    color: black;
    background-attachment: scroll;
    background-image: url(MB-V3/images/banner2.jpg);
    background-position: center center;
    background-repeat:repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;


}



#white-banner{
    background-color: rgba(15, 15, 15, 0.5);
    
    margin:15% auto;
    border:2px solid white;
    
    padding:1px;
    
    color:white ;


}

#title{
background-color: rgba(15, 15, 15, 0.5);
 color:white ;
 border : 2px solid white;
 
 margin : 10px auto;
 height : 45px;


}

#title-menu{
  background-color : rgba(54, 55, 148, 1);
  color : rgba(242, 206, 6, 1);
  border-radius : 4px;
  margin : 1px auto;
  height : 35px;
  
}

#title-menu:hover{
  background-color : rgba(54, 55, 180, 1);  
  box-shadow:2px 2px 4px rgb(200,200,200);
}

