html,body {
    min-height:100%;
    
    }


.full-fenetre{
    
    
    padding-top: 5%;
    min-height:95%;
    padding-bottom : 36px;
    margin-bottom : 36px;
}


.card{
	background-color:white;
	min-height:435px;
	box-shadow:1px 1px 3px rgb(200,200,200);
	padding : 6px;
	margin-top:5px;
}

.card2{
	background-color:white;
	
	box-shadow:1px 1px 3px rgb(200,200,200);
	padding : 6px;
	margin-top:5px;
}

.liseret {
	height:4px;
	background-color:#363794;
	width:100%;

}