html,body {
    min-height:100%;
    
    
    
    }


.full-fenetre{
    
    
    padding-top: 5%;
    min-height:100%;
    padding-bottom : 36px;
    
}


.card{
	background-color:white;
	height : 200 px;
	box-shadow:1px 1px 3px rgb(200,200,200);
	padding : auto;
	margin: 5px;
}

.card2{
	background-color:white;
	
	box-shadow:1px 1px 3px rgb(200,200,200);
	padding : 6px;
	margin-top:5px;
}

.liseret {
	height:4px;
	background-color:#8C271E;
	width:100%;


}

.bck-white{
	background-color : white;
	color : black;
}



.card-uncolor{
	margin : 20px;
}

.tab-space {
	min-height : 75px;

}

.tab-classe{
 background-color: rgba(15, 15, 15, 0.1);
 color:black ;
 border : 2px solid #8C271E;

 padding : 2px;
 
 margin : 2px auto;
 margin-top : 15px;
}


#banner2{
    
    text-align: center;
    color: black;
    background-attachment: scroll;
    background-image: url("../images/bg_sciage.jpg");
    background-position: center center;
    background-repeat:repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height:100%;
    padding-bottom : 30px;
    margin-bottom : 0px;

}

#white-banner2{
    background-color: rgba(15, 15, 15, 0.5);
    color:white ;
    border:2px solid white;
    margin:10% auto;
    
    
    padding:1px;
    
}

.card-logo{

    margin-bottom: 20px;
    margin-top:20px;
    
}

.fa-dot-circle-o{
    color : #8C271E;
}

.flag{
    height : 10px;
    margin : 15% auto;
    
}