---
title: BSG - Contact
---





<div class="full-fenetre" >
	<div class="container-fluid">

       <div class="row">
       	  <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4>Nous Trouver</h4>
          </div>
          <div class="col-md-1"></div>
          </div>
        </div>



    <div class="row">
    	<div class="col-md-7">
    		<div class="row">
    			<div class="col-md-2">
    			</div>
    			<div class="col-md-1">
    				<i class="fa fa-map-marker fa-5x"></i>
    			</div>
    			<div class="col-md-3">
          <p><strong>Scierie</strong></p>
					<p>Lieu Dit Boulanger CACAO</p>
					<p>97311 Roura</p>
					<p>GUYANE FRANCAISE</p>
				  </div>
          <div class="col-md-3">
          <p><strong>Bureau</strong></p>
          <p>1530B RN2 </p>
          <p>97351 Matoury</p>
          <p>GUYANE FRANCAISE</p>
          </div>
			  </div>
  		</div>
  		<div class="col-md-5">
  			<div class="row">
    			
    			<div class="">
    				
    			</div>
    			<div class="col-md-6">
					<p><strong>Téléphone</strong></p>  
          <p> + 594 05 94 27 06 10 </p>
          <p> + 594 05 94 31 55 05 </p>
            <p><strong>FAX</strong></p> 
          <p> + 594 09 70 29 52 59 </p>
          <p><strong>WhatsApp</strong></p> 
          <p>+33 ...........</p>
          <p><strong>Skype</strong></p> 
          <p>+33 ...........</p>
				</div>

				<div class="col-md-2">
    				<i class="fa fa-phone-square fa-5x"></i>
    			</div>
    			<div class="col-md-2">
    				
    			</div>
			
  			</div>	
  		</div>
	</div>




	<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
	<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(4.564118, -52.414752);
var myLatlng2 = new google.maps.LatLng(4.825122, -52.339452);
var myLatlng3 = new google.maps.LatLng(4.725122, -52.389452);

var myOptions = {
  zoom: 10,
  center: myLatlng3,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "Scierie de CACAO : BSG"
});
var marker = new google.maps.Marker({
  position: myLatlng2,
  map: map,
  title: "Bureau de Matoury"
});
</script>
</div>
<div class="col-md-1"></div>


	</div>
</div>

<div class="full-fenetre bck-white" id="contacter">
	<div class="container-fluid">
		<div class="row">
       	  <div class="col-md-1">
       	  </div>
          <div class="col-md-10 text-center" id="title">
            <h4>Nous Contacter</h4>
          </div>
          <div class="col-md-1">
          </div>
        </div>

	
		<div class="row">
			<div class="col-md-1">
       	  </div>
       	  <div class="col-md-10">
            <div id="wufoo-za6xf6g053hl4b">
				Fill out my <a href="https://cad69.wufoo.com/forms/za6xf6g053hl4b">online form</a>.
				</div>
				<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
				<script type="text/javascript">var za6xf6g053hl4b;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'cad69',
				'formHash':'za6xf6g053hl4b',
				'autoResize':true,
				'height':'586',
				'async':true,
				'host':'wufoo.com',
				'header':'show',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { za6xf6g053hl4b = new WufooForm();za6xf6g053hl4b.initialize(options);za6xf6g053hl4b.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>		
			</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>	
</div>






