---
title: Contact @ MBAO-BOIS
---





<div class="full-fenetre" >
	<div class="container-fluid">

       <div class="row">
       	  <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4>Nous Trouver</h4>
          </div>
          <div class="col-md-1"></div>
          </div>
        </div>



    <div class="row">
    	<div class="col-md-6">
    		<div class="row">
    			<div class="col-md-2">
    				
    			</div>
    			<div class="col-md-2">
    				<i class="fa fa-map-marker fa-5x"></i>
    			</div>
    			<div class="col-md-8">
					<p>Route de Rufisque </p>
					<p>En face du lotissement aux Baobabs</p>
					<h4>MBAO - Senegal</h4>
				</div>
			</div>
  		</div>
  		<div class="col-md-6">
  			<div class="row">
    			
    			<div class="col-md-4">
    				
    			</div>
    			<div class="col-md-4">
					<p>Téléphone</p>	
					<h4>08 35 65 65 65</h4>
				</div>

				<div class="col-md-2">
    				<i class="fa fa-phone-square fa-5x"></i>
    			</div>
    			<div class="col-md-2">
    				
    			</div>
			
  			</div>	
  		</div>
	</div>




	<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
	<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(14.737474, -17.308989);

var myOptions = {
  zoom: 12,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "MBAO-BOIS"
});
</script>
</div>
<div class="col-md-1"></div>


	</div>
</div>

<div class="full-fenetre" id="contacter">
	<div class="container-fluid">
		<div class="row">
       	  <div class="col-md-1">
       	  </div>
          <div class="col-md-10 text-center" id="title">
            <h4>Nous Contacter</h4>
          </div>
          <div class="col-md-1">
          </div>
        </div>

	
		<div class="row">
			<div class="col-md-1">
       	  </div>
       	  <div class="col-md-10">
            <div id="wufoo-za6xf6g053hl4b">
				Fill out my <a href="https://cad69.wufoo.com/forms/za6xf6g053hl4b">online form</a>.
				</div>
				<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
				<script type="text/javascript">var za6xf6g053hl4b;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'cad69',
				'formHash':'za6xf6g053hl4b',
				'autoResize':true,
				'height':'586',
				'async':true,
				'host':'wufoo.com',
				'header':'show',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { za6xf6g053hl4b = new WufooForm();za6xf6g053hl4b.initialize(options);za6xf6g053hl4b.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>		
			</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>	
</div>






