<!-- Méta description Google -->
    <title>MBAO-BOIS : La palette Sénégalaise</title>
    <meta name="description" content=" MBAO-BOIS, le spécialiste de la construction bois et des palettes au Sénégal" />
    <!-- Logo de la fenêtre -->
    <meta property="og:image" content="http://www.lewagon.org/assets/logo-f800df98aa2605c552400667353f47d2.png" />  

<!-- Méta description Facebook -->

    <meta property="og:title" content="MBAO-BOIS : La Palette Sénégalaise" />
    <meta property="og:type" content=" article" />
    <meta property="og:url" content="http://www.mbao-lapalettesenegalaise.com" />
    <meta property="og:image" content="http://www.mbao-lapalettesenegalaise.com/images/palette_1.png" />
    <meta property="og:description" content="Votre spécialiste bois et logistique au Sénégal" />
    <meta property="og:site_name" content="MBAO" />
    <meta property="fb:admins" content="Facebook numeric ID" />

<!-- Méta description Twitter -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Mbao_Bois">
    <meta name="twitter:title" content="MBAO-BOIS : La palette Sénégalaise">
    <meta name="twitter:description" content="Le spécialiste bois et logistique (Palette, Caisses, Pallocks ...) au Sénégal">
    <meta name="twitter:creator" content="@Mbao-Bois">
    <meta name="twitter:image:src" content="http://www.example.com/image.jpg">

<!-- Méta description Google+ / Pinterest -->

    <meta itemprop="name" content="MBAO-BOIS - La Palette Sénégalaise">
    <meta itemprop="description" content="This is the page description">
    <!-- Facebook image must be at least 600x315px -->
    <meta itemprop="image" content="http://www.example.com/image.jpg">

<!-- Méta description Google Autorship -->

    <link rel="author" href="https://plus.google.com/[Google+_Profile]/posts"/>
    <link rel="publisher" href="https://plus.google.com/[Google+_Page_Profile]"/>
                               


---
title: Contact @ MBAO-BOIS
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<div class="full-fenetre" >
	<div class="container-fluid">

       <div class="row">
       	  <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4>Nous Trouver</h4>
          </div>
          <div class="col-md-1"></div>
          </div>
        </div>



    <div class="row">
    	<div class="col-md-6">
    		<div class="row">
    			<div class="col-md-2">
    				
    			</div>
    			<div class="col-md-2">
    				<i class="fa fa-map-marker fa-5x"></i>
    			</div>
    			<div class="col-md-8">
					<p>Route de Rufisque </p>
					<p>En face du lotissement aux Baobabs</p>
					<h4>MBAO - Senegal</h4>
				</div>
			</div>
  		</div>
  		<div class="col-md-6">
  			<div class="row">
    			
    			<div class="col-md-4">
    				
    			</div>
    			<div class="col-md-4">
					<p>Téléphone</p>	
					<h4>08 35 65 65 65</h4>
				</div>

				<div class="col-md-2">
    				<i class="fa fa-phone-square fa-5x"></i>
    			</div>
    			<div class="col-md-2">
    				
    			</div>
			
  			</div>	
  		</div>
	</div>




	<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
	<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(14.737474, -17.308989);

var myOptions = {
  zoom: 12,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "MBAO-BOIS"
});
</script>
</div>
<div class="col-md-1"></div>


	</div>
</div>

<div class="full-fenetre" id="contacter">
	<div class="container-fluid">
		<div class="row">
       	  <div class="col-md-1">
       	  </div>
          <div class="col-md-10 text-center" id="title">
            <h4>Nous Contacter</h4>
          </div>
          <div class="col-md-1">
          </div>
        </div>

	
		<div class="row">
			<div class="col-md-1">
       	  </div>
       	  <div class="col-md-10">
            <div id="wufoo-za6xf6g053hl4b">
				Fill out my <a href="https://cad69.wufoo.com/forms/za6xf6g053hl4b">online form</a>.
				</div>
				<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"></div>
				<script type="text/javascript">var za6xf6g053hl4b;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'cad69',
				'formHash':'za6xf6g053hl4b',
				'autoResize':true,
				'height':'586',
				'async':true,
				'host':'wufoo.com',
				'header':'show',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { za6xf6g053hl4b = new WufooForm();za6xf6g053hl4b.initialize(options);za6xf6g053hl4b.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>		
			</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>	
</div>






