---
title: MBAO-BOIS - La palette sénégalaise.com
---

<div id="banner" class=" text-center">
      <div class="container-fluid">  
        <div class="row" id="white-banner">
          <div class="col-md-12">
            <h1>MBAO-BOIS : La palette sénégalaise.com</h1>
            <h3>Le spécialiste bois et logistique au Sénégal</h3>
          </div>
        </div>
        <div class="row">
          <div class="btn btn-default title-menu">
            <a class="" href="#solution">
              
              <i class="fa fa-angle-double-down fa-3x"></i>
            </a>
          </div>
        </div>
      </div>   
</div> 


<div class="full-fenetre" id="solution">
 
    
  <div class="container-fluid">
  <div class="row">
          
          <div class="col-md-12 col-xs-12 col-sm-12  text-center" id="title">            
            <h4>MBAO-BOIS : Le spécialiste du Bois au Senegal</h4>
            
          </div>
          
    </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-1">
        </div>
        <% link_to "/logistique.html" do %>
            <div class="col-md-10 col-xs-12 col-sm-12 text-center" id="title-menu">              
                 <h4>Palette</h4>                 
            </div>
        <% end %>
        <div class="col-md-1">
        </div>
      </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <% link_to "/construction.html" do %>
            <div class="col-md-10 col-xs-12 col-sm-12 text-center" id="title-menu">              
                 <h4>Maison-bois</h4>                 
            </div>
        <% end %>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <% link_to "/materiaux.html" do %>
            <div class="col-md-10 col-xs-12 col-sm-12 text-center" id="title-menu">              
                 <h4>Stock de bois</h4>                 
            </div>
        <% end %>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <% link_to "/logistique.html#caisse" do %>
            <div class="col-md-10 col-xs-12 col-sm-12 text-center" id="title-menu">              
                 <h4>Caisse et Pallocks</h4>                 
            </div>
        <% end %>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <% link_to "/lconstruction.html" do %>
            <div class="col-md-10 col-xs-12 col-sm-12 text-center" id="title-menu">              
                 <h4>Batiment industriel</h4>                 
            </div>
        <% end %>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <% link_to "/contact.html#contacter" do %>
            <div class="col-md-10 col-xs-12 col-sm-12 text-center" id="title-menu">              
                 <h4>Contact</h4>                 
            </div>
        <% end %>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <% link_to "/contact.html" do %>
            <div class="col-md-10 col-xs-12 col-sm-12 text-center" id="title-menu">              
                 <h4>Localisation</h4>                 
            </div>
        <% end %>
            <div class="col-md-1">
            </div>
          </div>
          <div class="row">
            
            <div class="col-md-12 text-center" id="">
              <blockquote class="twitter-tweet" lang="fr"><p lang="fr" dir="ltr">Vous avez une problématique ?&#10;Nous avons une solution <a href="https://twitter.com/hashtag/bois?src=hash">#bois</a>.&#10;<a href="https://twitter.com/hashtag/Senegal?src=hash">#Senegal</a></p>&mdash; LaPaletteSenegalaise (@Mbao_Bois) <a href="https://twitter.com/Mbao_Bois/status/662278115809492992">5 Novembre 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            
          </div>
          
      </div>

      <div class="col-md-6">
      <div class="card">
        <div class="row">
                <div class="col-md-12">
          
                  <div class="text-center">
                  <h1>Le BOIS ? </h1>
                  <h2>Le <strong>matériau</strong> idéal pour <h2>
                  <h2>le <strong>Sénégal</strong> avec :</h2>
                 
                  <div></div>
                  <p></p>
                  <div class="text-center">
                  <%= image_tag 'logo.png' %>
                  
                  </div>
                </div>
                  
                
                  
        </div>
                                     
              </div> 
              
          </div>
      </div>



      <div class="col-md-3">
        <div class="card">
        <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/0b75276676e5ccb8b1f162a5c9f1c0dc393f8b26.html" id="instansive_0b75276676" name="instansive_0b75276676"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
       </div>

       
    </div>
    </div>
    </div>
</div>

