---
title: BSG - Liens utiles
---

<div class="full-fenetre" >
	<div class="container-fluid"> 
		<div class="row">
			<ul>
				        <li> 
                <% link_to "http://tropix.cirad.fr/" do %>
                  CIRAD : Logiciel de reconnaissance des bois tropicaux
                  <% end %>
                </li>

                <li> <% link_to "http://ademe-guyane.fr/" do %>
                  Ademe Guyane : Atouts des bois tropicaux
                  <% end %>
                </li>

                <li> <% link_to "http://mbao-lapalettesenegalaise.com/" do %>
                  La palette senegalaise
                  <% end %>
                </li>

                <li> <% link_to "http://ducret-bois.fr" do %>
                  La scierie Ducret
                  <% end %>
                </li>

                 <li> <% link_to "http://www.viadeo.com/fr/company/bsg-bois-et-sciages-guyanais-la-scierie-de-cacao" do %>
                  Emploi : Contacter nous sur Viadeo
                  <% end %>
                </li>

				
			</ul>	
        </div>
    </div>
</div>