---
title: MBAO-BOIS - Négoce de Bois
---

<div class="full-fenetre" >
	<div class="container-fluid"> 
		<div class="row">
       	  <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">
            
            <h4>Matériaux de construction : Négoce</h4>
          </div>
          <div class="col-md-1"></div>
        </div>
		<div class="row">
			<div class="col-md-12 col-sd-12">
				
				<p> Notre stock de bois : du choix et de la qualité </p>
			</div>
		</div>
        <div class="row">
	        <div class="col-md-6 col-sd-12">
	        	<div class="card">
	           		<div class="text-center">
	           			
	    	   			<h4>Les 4 engagements @ MBAO-BOIS</h4>

	    	   		</div>
	    	   	
	           		<p><i class="fa fa-check-circle-o"></i> Arrivage régulier </p>
	           		<p><i class="fa fa-check-circle-o"></i> Stock important pour répondre à vos besoins à tout moments</p>
	           		<p><i class="fa fa-check-circle-o"></i> Large pannel d'essences</p>
	           		<p><i class="fa fa-check-circle-o"></i> Centre de traitement homologué</p>
	           		
	           		
                   
	           		<div class="text-center">
	           			

	    	   				    	   			
	    	   	
	    	   	    </div>
	    	   		<P></P>
	    	   		<p>Mbao - Bois vous propose une gamme complète de bois, sélectionnés avec rigueur, qui répond parfaitement aux exigences de vos applications. L’important volume de bois en stock permet de répondre à toutes demandes.</p>
                    <div class="row">
                    	
                        <div class="col-md-6 text-center"> 
	    	   			<%= image_tag 'materiaux_1.png' %>
	    	   			</div> 
	    	   			
	    	   			<div class="col-md-6 text-center">
	    	   			<%= image_tag 'materiaux_2.png' %>
	    	   			</div> 
                    </div>
	           	</div>
	        </div>
	        <div class="col-md-3 col-sd-12">
	        	<div class="card">
	           		<div class="text-center">
	           			<%= image_tag 'montage.svg' %>
	           			
	           			<h4>Une gamme évolutive</h4>
	       	   		</div>
	           		<p><i class="fa fa-check-circle-o"></i>  Bois d'ossature</p>
	           		<p><i class="fa fa-check-circle-o"></i>  Liteau</p>
	           		<p><i class="fa fa-check-circle-o"></i>  Poutre</p>
	           		<p><i class="fa fa-check-circle-o"></i>  Volige</p>
	           		<p><i class="fa fa-check-circle-o"></i>  Planche</p>
	           		<p><i class="fa fa-check-circle-o"></i>  Solive</p>
	           		<p><i class="fa fa-check-circle-o"></i>  Chevron</p>
	           		<p><i class="fa fa-check-circle-o"></i>  Bastaing</p>
        		</div>
        	</div>
        	<div class="col-md-3 col-sd-12">
	        	<div class="card">
	           		<div class="text-center">

	           			
	           			<h4> Approvisionnement : </h4>
	           			<div class="text-center">
	           			<%= image_tag 'materiaux_warning.png' %>
	           			</div>
	           			<h4> Soyez le premier informé ! </h4>
	           		</div>
	           			<p> Nous reservons à nos clients la possibilité d'être informé en avant première de ce que nous allons recevoir et ainsi de pré-réserver</p>
                        
	           			

	           			<div class="text-center">
	           				<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:150px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//mbao-lapalettesenegalaise.us12.list-manage.com/subscribe/post?u=2d43796e84270e9079842901a&amp;id=6135604c6c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Inscrivez-vous !</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse mail" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2d43796e84270e9079842901a_6135604c6c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Souscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
	           			</div>
	           			
	       	   		</div>
	           		
        		</div>
        	</div>
        	
      	</div>
    </div >
</div>
