---
title: BSG - Mentions Légales
---

<div class="full-fenetre" >
	<div class="container-fluid"> 
		<div class="row">
			<ul>
				<li> Raison sociale : Bois et sciages Guyanais - Scierie de Cacao</li>
				<li> SARL au capital de 350 000€</li>
				<li> SIRET : 491 272 829 00012 </li>
				<li> APE : 1610A </li>
				<li> Hebergeur : OVH</li>
				<li> Téléphone : CF Contact </li>
				<li> Mail : CF Contact </li>
				<li> Adresse : 1530B RN 2 97351 Matoury Guyane Française</li>
			</ul>	
        </div>
    </div>
</div>


