---
title: BSG - Sciages
---

<div id="banner2" class="text-center">
      <div class="container-fluid">  
        <div class="row" id="white-banner2">
          <div class="col-md-12">
            <h2>Scierie : Des sciages de qualité</h2>
            <p> Sections, longueurs, qualité d'usinage : un résultat professionnel </p>
            <div class="row">
      <div class="col-md-3">
        <h3> Nos produits bois</h3>
        <ul>
          <li>Bastaing</li>
          <li>Chevron</li>
          <li>Planche</li>
          <li>Liteau</li>
          <li>Poutre</li>
          <li>Charpente</li>
          <li>Coffrage</li>
          <li>Poteau</li>
        </ul>
      </div>
      
      <div class="col-md-6">
        <h3>Nos qualités</h3>
        <p>Notre connaissance des bois tropicaux et de l'Angélique (Basralocus) permet un tri optimal pour répondre à vos besoins.</p>
        <p>Le bois est un matériau hétérogène. A la scierie de Cacao chaque qualité est là pour satisfaire vos usages spécifiques.</p>
      </div>

      <div class="col-md-3">
        <h3> Nos sections</h3>
        <p>27 x ( 55 | 105 | 155 | 205 | 255 ) </p>
        <p>55 x ( 55 | 85 | 105 | 155 ) </p>
        <p>65 x (85 | 105 ) </p>
        <p>80 x ( 125 )</p>
        <p>155 x ( 155 )</p>
        <p>Liste non exhaustive</p>
      </div>
    </div>
          </div>
        </div>
        
      </div>   
</div> 




<div class="full-fenetre bck-white" id="produit">
  <div class="container-fluid"> 
    <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">  
            <h4>Nos produits finis</h4>
             <p>Transformer le bois pour vos usages</p>
          </div>
         
          <div class="col-md-1"></div>
    </div> 
    <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <%= image_tag 'logo_sechage.png' %>
      <h4>Séchage</h4>
      <p>Un séchage de qualité garanti la <strong>durabilité du bois</strong>, qu'il soit <strong>naturel</strong> ou via l'utilisation de séchoir, nous sommes en mesure de nous adapter à vos applications</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'logo_traitement.png' %>
      <h4>Traitement</h4>
      <p>Les bois comme l'<strong>Angélique (Basralocus)</strong> ou encore le <strong>Wacapou</strong> présentent des caractéristiques technique et de resistance unique qui leur permettent de <strong>résister</strong> à tout type d'environnement sans traitement. Pour des applications spécifiques sur certaines essences un traitement sera nécessaire</p>
    </div>
    <div class="col-md-3">
      <%= image_tag 'logo_plancher.png' %>
      <h4>Rabotage</h4>
      <p>En fonction de vos <strong>besoins</strong>, nous pouvons vous fournir tous types de produits finis : Decking, parquet, lambris ...</p>
    </div>
    <div class="col-md-1"></div>
    </div>
  </div>
</div>

 <div class="row" id="reference">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center" id="title">  
            <h4>Reference</h4>
            <p>Essences : Angélique (Basralocus) , Gonfolo, Wacapou, Courbaril</p>
             
          </div>
         
          <div class="col-md-1">
            
          </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

<div id="links text-center">
    <a href="images/big_1.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_1.png" alt="">
    </a>
    <a href="images/big_2.png" title="Centre scolaire | Angélique extérieur " data-gallery>
        <img src="images/small_2.png" alt="">
    </a>
    <a href="images/big_3.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_3.png" alt="">        
    </a>
    <a href="images/big_4.png" title="Construction d'une maison bois | Antilles " data-gallery>
        <img src="images/small_4.png" alt="">        
    </a>
    <a href="images/big_5.png" title="Charpente | Bois rouge" data-gallery>
        <img src="images/small_5.png" alt="">        
    </a>
    <a href="images/big_6.png" title="Charpente taillée" data-gallery>
        <img src="images/small_6.png" alt="">
    </a>
    <a href="images/big_7.png" title="Charpente taillée" data-gallery>
        <img src="images/small_7.png" alt="">
    </a>
    <a href="images/big_8.png" title="Charpente taillée" data-gallery>
        <img src="images/small_8.png" alt="">        
    </a>
    <a href="images/big_9.png" title="Réalisation bois rouge | Antilles " data-gallery>
        <img src="images/small_9.png" alt="">        
    </a>
    <a href="images/big_10.png" title="Réalisation bois rouge | Antilles " data-gallery>
        <img src="images/small_10.png" alt="">        
    </a>
    <a href="images/big_11.png" title="Charpente bois tropical" data-gallery>
        <img src="images/small_11.png" alt="">
    </a>
    <a href="images/big_12.png" title="Charpente taillée " data-gallery>
        <img src="images/small_12.png" alt="">
    </a>
    <a href="images/big_13.png" title="Charpente taillée" data-gallery>
        <img src="images/small_13.png" alt="">        
    </a>
    <a href="images/big_14.png" title="Fermette bois rouge" data-gallery>
        <img src="images/small_14.png" alt="">        
    </a>
    <a href="images/big_15.png" title="Centre scolaire | Angélique extérieur " data-gallery>
        <img src="images/small_15.png" alt="">        
    </a>
    <a href="images/big_16.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_16.png" alt="">
    </a>
    <a href="images/big_17.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_17.png" alt="">
    </a>
    <a href="images/big_18.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_18.png" alt="">        
    </a>
    <a href="images/big_19.png" title="Collège Saint Pierre | Angélique extérieur " data-gallery>
        <img src="images/small_19.png" alt="">        
    </a>
    <a href="images/big_21.png" title="Bardage extérieur en Angélique" data-gallery>
        <img src="images/small_21.png" alt="">
    </a>
</div> 
</div>
<div class="col-md-1"></div>    
    
</div>
<div class="row">
    <div class="place">
        .
    </div>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>


