---
title: BSG - Sitemap
---

<div class="full-fenetre" >
	<div class="container-fluid"> 
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1"></div>
          		<div class="col-md-10 text-center" id="title">
            		<h4>Sitemap </h4>
          		</div>
         	    <div class="col-md-1"></div>
        	</div>
			
		</div>
		<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-6">

            <ul>
            	<li>
            		<% link_to "/index.html" do %>
    				<p>BSG - FRANCAIS</p>
					<% end %>

                    <ul>
                    	<li><% link_to "/index.html" do %>
    					<p>BSG-Homepage</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/index#presentation.html" do %>
    							<p>Presentation</p>
								<% end %>
							</li>
							<li>
								<% link_to "/index#certification.html" do %>
    							<p>Certifications : PEFC (FSC)</p>
								<% end %>
							</li>
						</ul>
						</li>

                    </ul>	

                    <ul>
                    	<li><% link_to "/actualité.html" do %>
    					<p>Actualité de BSG - Bois et sciages Guyanais</p>
						<% end %>						
						</li>

                    </ul>

                    <ul>
                    	<li><% link_to "/ressource.html" do %>
    					<p>Ressource forestière (Essences tropicales)</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/ressource#classification.html" do %>
    							<p>Classe d'utilisation des espèces de bois tropicaux</p>
								<% end %>
							</li>
							
						</ul>
						</li>

                    </ul>	

                    <ul>
                    	<li><% link_to "/production.html" do %>
    					<p>Production de sciage en bois tropicaux</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/production#produit.html" do %>
    							<p>Transformation de bois tropicaux</p>
								<% end %>
							</li>
							
						</ul>

						<ul>
							<li>
								<% link_to "/production#reference.html" do %>
    							<p>Nos bois tropicaux d'amazonie en situation</p>
								<% end %>
							</li>
							
						</ul>

						</li>

                    </ul>	


                     <ul>
                    	<li><% link_to "/contact.html" do %>
    					<p>Contacter : BSG - Bois et sciages Guyanais</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/contact#localisation.html" do %>
    							<p>Nous localiser en Guyane Française</p>
								<% end %>
							</li>
							
						</ul>


						</li>

                    </ul>
 				</li>

            	<li>
            		<% link_to "/EN/index-en.html" do %>
    				<p>BSG - ENGLISH</p>
					<% end %>

                    <ul>
                    	<li><% link_to "" do %>
    					<p>BSG-Homepage</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/EN/bsg#presentation.html" do %>
    							<p>Presentation</p>
								<% end %>
							</li>
							<li>
								<% link_to "//EN/bsg#certification.html" do %>
    							<p>Certifications : PEFC (FSC)</p>
								<% end %>
							</li>
							<li>
								<% link_to "//EN/bsg#solution.html" do %>
    							<p>Uses of tropical harwood lumber from the amazonian forest</p>
								<% end %>
							</li>
						</ul>
						</li>

                    </ul>	

                    
                    <ul>
                    	<li><% link_to "//EN/wood-ressource.html" do %>
    					<p>Tropical harwood Lumber Species from Amazonian Forest</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/EN/wood-ressource#classification.html" do %>
    							<p>Classifications of uses of our tropical harwood lumber </p>
								<% end %>
							</li>
							
						</ul>
						</li>

                    </ul>	

                    <ul>
                    	<li><% link_to "/EN/saw-mill.html" do %>
    					<p>Production a tropical harwood lumber</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/EN/saw-mill#produit.html" do %>
    							<p>Transfomation of our hardwood tropical lumber</p>
								<% end %>
							</li>
							
						</ul>

						<ul>
							<li>
								<% link_to "/EN/saw-mill#reference.html" do %>
    							<p>Our tropical harwood lumber in action</p>
								<% end %>
							</li>
							
						</ul>

						</li>

                    </ul>	


                     <ul>
                    	<li><% link_to "/EN/contact.html" do %>
    					<p>Contact Us : BSG - Tropical Harwood Lumber</p>
						<% end %>
						

						<ul>
							<li>
								<% link_to "/EN/contact#localisation.html" do %>
    							<p>Find Us : BSG - Tropical Harwood Lumber </p>
								<% end %>
							</li>
							
						</ul>


						</li>

                    </ul>
 				</li>

            </ul>
			
        </div>
    </div>
</div>



