---
title: MBAO-BOIS - Sitemap
---

<div class="full-fenetre" >
	<div class="container-fluid"> 
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1"></div>
          		<div class="col-md-10 text-center" id="title">
            		<h4>Sitemap </h4>
          		</div>
         	    <div class="col-md-1"></div>
        	</div>
			
		</div>
		<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-6">

       
       		<ul>
       			<li>
       				<% link_to "/index.html" do %>
    				<p>Présentation : MBAO - BOIS, La palette sénégalaise</p>
					<% end %>
				</li>
       			<li>
       				<% link_to "/logistique.html" do %>
    				<p>Logistique : Palette et Caisse</p>
					<% end %>

					<ul>
						<li>
							<% link_to "/logistique.html#caisse" do %>
    						<p>Caisses et Pallocks</p>
							<% end %>
						</li>
						<li>
							<% link_to "/logistique.html#produit" do %>
    						<p>Nos produits en images : Palette, Caisses , Pallocks</p>
							<% end %>
						</li>
					</ul>

       			</li>
       			<li>
       				<% link_to "/construction.html" do %>
    				<p>Construction bois </p>
					<% end %>

					<ul>
						<li>
							
							<% link_to "/construction.html#gallery" do %>
    						<p>Nos constructions bois en image</p>
							<% end %>
						</li>
					</ul>

				</li>
       			<li>
       				<% link_to "/matériaux.html" do %>
    				<p>Matériaux : Négoce de bois</p>
					<% end %>
				</li>
       			<li>
       				<% link_to "/services.html" do %>
    				<p>Services : Traitement, Bureau d'étude ...</p>
					<% end %>
       			</li>
       			<li>
       				<% link_to "/contact.html" do %>
    				<p>Contact et localisation</p>
				    <% end %>
       			</li>
       		</ul>
            
            </div>



			
        </div>
    </div>
</div>



